---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Apie';
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Šio puslapio idėja surinkti receptus be jokių reklamų ir istorijų, kad iškilus poreikiui būtų galima greitai
    susirasti reikiamą receptą. Turbūt ne kartą teko susidurti situacija, kai žinote, ką norite gaminti, bet norisi
    greitai pasitikrinti kažkokią smulkią detalę, pvz.: kiek laiko ir kokią temperatūrą nustatyti orkaitei.
  </p>
  <p>
    Jeigu norite pridėti naują receptą sekite instrukcijas GitHub puslapyje: <a
      href="https://github.com/daliusd/tikreceptai">https://github.com/daliusd/tikreceptai</a
    >.
  </p>
</BaseLayout>
