---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Apie';
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Šio puslapio idėja surinkti receptus be jokių reklamų ir istorijų, kad iškilus poreikiui būtų galima greitai
    susirasti reikiamą receptą.
  </p>
</BaseLayout>
