---
const year = new Date().getFullYear();
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin: auto;
    margin-top: 2rem;
    justify-content: right;
  }

  footer p {
    border-top: 1px dashed grey;
    padding-top: 1rem;
  }
</style>

<footer>
  <p><a href={`https://www.ffff.lt/`}>Dalius Dobravolskas</a> &copy; {year}</p>
</footer>
