---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Autorius: {frontmatter.author}</p>
  <p>
    Žymės: {
      frontmatter.tags.map((tag, idx) => (
        <span>
          <a href={`/tags/${tag}`}>{tag}</a>
        </span>
      ))
    }
  </p>
  <slot />
</BaseLayout>
